parameters:
    level: 8
    paths:
        - src
        - tests
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - "#Property [a-zA-Z0-9\\\\_]+::\\$id is never written, only read.#"
        - "#Property [a-zA-Z0-9\\\\_]+::\\$surname is never read, only written.#"
        - "#Property .* type has no value type specified in iterable type array.#"