<div>
    <h1>Dear {{ fullname }},</h1>
    <p>
        Welcome to Envoice! We're excited to have you on board.
        To get started, please activate your account by clicking the link below:
    </p>
    <a href="{{ link }}" alt="Envoice activate link">Activate Your Account</a>
    <p>
        This link will expire in 5 minutes, so be sure to activate your account as soon as possible.
        Activation ensures full access to all the features and services we offer.
    </p>
    <p>If you did not sign up for Envoice, please disregard this email.</p>
    <p>Thank you for joining us, and we look forward to seeing you on Envoice.</p>

    <p>Best regards, <b>Envoice Team</b></p>
</div>